html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.home-page {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* 讓內容從上方開始排列 */
}

.full-page-image {
  width: auto;
  height: 40vh;
  max-height: 100vh;
  object-fit: contain;
  display: block;
  margin: 0;
  padding: 0;
}
